<% content_for :sitemap do %>
  <a href="<%= cpanel_posts_path %>"><%= t("cpanel.menu.posts") %></a> &gt; <span class="current"><%= t("common.edit") %></span>
<% end %>
<h1>Editing post</h1>

<%= render 'form' %>
