<% content_for :sitemap do %>
  <a href="<%= cpanel_categories_path %>"><%= t("cpanel.menu.categories") %></a> &gt; <span class="current"><%= t("common.edit") %></span>
<% end %>
<h1>Editing categorie</h1>

<%= render 'form' %>


