<% content_for :sitemap do %>
  <a href="<%= cpanel_categories_path %>">><%= t("cpanel.categories") %></a> &gt; <span class="current"><%= t("common.create") %></span>
<% end %>
<h1>New categorie</h1>

<%= render 'form' %>
