<% content_for :sitemap do %>
  <a href="<%= cpanel_pages_path %>"><%= t("cpanel.menu.pages") %></a> &gt; <span class="current"><%= t("common.create") %></span>
<% end %>
<h1>Editing page</h1>

<%= render 'form' %>